body {
    background-image: url("../images/backdrop.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 100px;
    color: red;
    font: outline;
}

h2 {
    text-align: center;
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 75px;
    margin-bottom: 30px;
}

p {
    font-family: 'Luckiest Guy', cursive;
    font-size: 35px;
}


/* #wins {
text-align: left; 
} 
#remaining {
text-align: center;
}  */

.guessed {
    text-align: center;
}